<div class="container">
    <div class="title">
        <h1>Meus Hábitos</h1>
    </div>

    <p class="description">{{dateFormated}}</p>

    <div *ngFor="let routines of routineList" class="cards">
        <div class="water">
            <img [src]="'assets/svg/' + routines.iconName" alt="{{ routines.habitName }}">
            <p>{{ routines.habitName }}</p>
        </div>
        <div class="done-check">
            <input type="checkbox" [checked]="routines.value" (change)="onCheckboxChange(routines, $event)">
            <p>Concluído</p>
        </div>
    </div>
</div>