.container {
  max-width: 430px;
  min-height: 90vh;
  margin: auto;
  padding: 1rem;
  background-color: #1f2937;
}

.title {
  height: 36px;
  background: linear-gradient(to right, #60a5fa, #a78bfa);
  h1 {
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding-top: 3px;
  }
}

.description {
  text-align: center;
  font-size: 13px;
  color: #9ca3af;
}

.cards {
  height: 144px;
  background-color: #111827;
  margin-top: 40px;
  border-radius: 12px;
  border: 1px solid #e5e7eb26;
  padding: 8px;

  .water {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  p {
    display: inline;
    font-size: 15px;
    color: #e5e7eb;
  }

  .done-check {
    height: 38px;
    border: 1px solid #e5e7eb26;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 9px;

    input {
      width: 20px;
      height: 20px;
    }
  }
}
